{% extends 'base.html' %}
{% block content %}
<div class="card">
    <div class="card-body">
      <h5 class="card-title">Instrukcje dotyczące zmiany hasła zostały wysłane</h5>
      <p class="card-text">Wysłaliśmy Ci instrukcje dotyczące zmiany hasła. Jeżeli konto z podanym przez Ciebie adresem e-mail istnieje,
        powinieneś je wkrótce otrzymać. Jeśli nie otrzymasz wiadomości e-mail, upewnij się, że podałeś adres, pod którym się zarejestrowałeś,
        i sprawdź folder ze spamem.</p>
    </div>
  </div>
{% endblock content %}