{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">
<h1>Update Profile</h1>
<br/>

  <br/> <br/>
<form method="POST" action="" enctype="multipart/form-data">
	{% csrf_token %}
	{{ user_info.as_p }}

	<br/><br/>
	{{ shipping_address_form.as_p}}

	<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#changePassword">
	Change Password
  </button>
  <br/><br/>
  	<button type="submit" class="btn btn-secondary">Update Profile</button>
</form>

</div>

  <!-- Modal -->
<div class="modal fade" id="changePassword" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="changePasswordLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="changePasswordLabel">Please confirm</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
		  Are you willing to change your password?
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  <button type="button" class="btn btn-primary"><a class="modal-link" href="{% url 'change_password' %}">Change Password</a></button>
		</div>
	  </div>
	</div>
  </div>
{% endblock %}