{% extends 'base.html' %} 

{% load rest_framework %}
{% block content %}
<div class="container">
    <div class="row g-0">
        <div class="col-md-12">
            <div class="card my-2">
                <div class="card-body">
                  <h5 class="card-title">Dziękujemy za złożenie zamówienia</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Zamówienie nr. {{order_id}}</h6>
                  <p class="card-text mb-0">Zostanie wysłane na adres:</p>
                  <p class="card-text mt-0">{{shipping_address}}</p>
                </div>
              </div>
        
        </div>
    </div>
    
</div>



  {% endblock %}