{% extends 'base.html' %} 

{% load static %} 
{% load rest_framework %}
{% block content %}

<div class="container-xxl">
  <div class="card my-3">
    <div class="row g-0">       
      <div class="col">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            {% for notification in notifications %}
              {% if not notification.read %}
              <li class="list-group-item"><b>{{ notification.message }}</b></li>
              {% elif notification.read %}
              <li class="list-group-item">{{ notification.message }}</li> 
              {% else %}
              <li class="list-group-item">
                <h5 class="card-title">Brak powiadomień</h5>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>   
    </div>
  </div>
</div>
{% endblock %}







