{% extends 'base.html' %}
{% block content %}
  <div class="container overflow-hidden">
    <div class="row my-3">
      <div class="col-8 ps-0">
        <div id="singleProduct" class="carousel slide card">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#singleProduct" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#singleProduct" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#singleProduct" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner p-2">
              <div class="carousel-item active">
                <img src="{{single_product.images.url}}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{single_product.images.url}}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{single_product.images.url}}" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#singleProduct" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#singleProduct" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{single_product.price}} zł/ {{single_product.unit}}</h5>
            <p class="card-text">Liczba sztuk:</p>
            <div class="input-group-qty">
              <input type="button" value="-" class="button-minus" data-field="quantity">
              {% for key, value in cart_quantities.items %}
                {% if key == single_product.id|slugify %}
                  <input id="product_qty_{{single_product.id}}" type="number" step="1" min="1" max="" value="{{value}}" name="quantity" class="quantity-field">
                {% endif %}
              {% endfor %}
              <input type="button" value="+" class="button-plus" data-field="quantity">
            </div>

            <button type="button" id="add-to-cart{{single_product.id}}" class="btn btn-warning w-100" value="{{ single_product.id }}">Dodaj do koszyka</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row my-3">
      <div class="col-12 px-0">
        <div class="card">
          <div class="card-header">
            <h4>Opis</h4>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{single_product.title}}</h5>
            <p class="card-text">{{single_product.description}}</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}