{% load static %} 
<nav class="navbar navbar-expand-lg main-nav shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">
        Stragan
    </a>

   

    <div class="input-group">
      
      <form class="input-group" action="{% url 'search_product' %}" method="POST">
        {% csrf_token %}
        <input id="tags" class="form-control" type="search" placeholder="Czego szukasz?" aria-label="Szukaj" list="datalistOptions" name="search">
        <datalist id="datalistOptions">
        {% for product in featured_products %}
        <option value="{{product}}">{{product.featured_image}}</option>
        {% endfor %}
    </datalist>

      <select class="form-select" aria-label="Kategorie" name="category">
        <option value="wszystkie-kategorie">Wszystkie kategorie</option>
        {% for category in categories %}
        <option value="{{category}}">{{category}}</option>
        {% endfor %}
      </select>
      <button class="btn btn-outline-secondary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="nav nav-pills">
        


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-user"></i>
          </a>
          <ul class="dropdown-menu">
            {% if user.is_authenticated %}
            <li><a class="dropdown-item" href="{% url 'profile' request.user.id %}">Mój Profil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Wyloguj</a></li>
            {% else %}
            <li><a class="dropdown-item" href="{% url 'register' %}">Rejestracja</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'login' %}">Logowanie</a></li>
            {% endif %}
          </ul>
        
        </ul>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
     
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Kategorie
            </a>
            <ul class="dropdown-menu">
              {% for category in categories %}
              <li><a class="dropdown-item" href="#"><b>{{category.name}}</b></a></li>
              
                {% for subcategory in subcategories %}
                  {% if category.name == subcategory.parent_name.name %}
                  <li><a class="dropdown-item ms-2" href="#">{{subcategory.name}}</a></li>
                  {% endif %}
                {% endfor %}
                <li><hr class="dropdown-divider"></li>
              {% endfor %}
              
            </ul>
          </li>
        </ul>

      </div>
    </div>
  </nav>
